{% extends "layout.html" %}
{% block body %}<br><br>
<div class="container">
  <div class="row">

<div col-sm-2 col-md-4 col-lg-4></div>
<div col-sm-8 col-md-4 col-lg-4>

<div class="card">
<div class="card-header text-white bg-primary text-center">Login</div>
<div class="card-body bg-dark">
  <form action="/login/" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="email">Username:</label>
      <input type="text" class="form-control" placeholder="Enter Username" name="usr">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br><br>
</div>
</div>

</div>
<div col-sm-2 col-md-4 col-lg-4></div>

</div>
</div>

{% endblock %}